@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
--primary-color:#0c2461;
--secondary-color:#ff9f1a;
--box-color:#4b4b4b;
--button-bg:#ff9f1a;
--cart-color:#3ae374;
--wish-color:#ff3838;
--menu-color:#3d3d3d;

--h1-size:35px;
--h2-size:30px;
--h3-size:25px;
--h4-size:20px;
--text-color:gray;

--bold:600;
--semi-bold:700;

--box-shadow:  0px 0px 15px 0px  lightgrey;

}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
}
button{
  padding: 10px;
  font-size:14px;
  border:none;
  outline: none;
  border-radius:5px;
  background-color: var(--button-bg);
  color:white;
  font-weight: var(--bold);
  letter-spacing:1px;
  cursor:pointer;
}
button a{
  color: white;
  text-decoration: none;
}

section{
  padding: 60px 0px;
}
.section__title{
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;

}