.shop{
    width: 100%;   
    display: flex;
}
 .shop__row{
    display: flex; 
    width: 100%;
}
.shop__row .col1{
    width: 20%;
    height: 100vh;
}
.shop__row .col2{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100vh;
    margin-left: -20px;
}
 .paginate{
    display: flex;
    align-items: center;
    justify-content: center;
}
